
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.controls label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: 250px;
  font-weight: 600;
  color: #27ae60;
}

.controls input,
.controls select {
  padding: 0.5rem;
  max-width: 250px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: #f9f9f9;
}

.controls input {
  width: 100%;
}

.controls input:focus,
.controls select:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
  background-color: #ffffff;
}

.controls input::placeholder {
  color: #888;
  opacity: 0.8;
}

.controls select {
  padding: 0.5rem;
  border-radius: 8px;
}

.controls select:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.boxTable {
  display: block;
  align-content: center;
  height: 50%;
}

.tableContainer {
  position: relative;
}

.matrixTable {
  border-collapse: collapse;
}

.matrixTable td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  width: 20px;
  height: 20px;
}

.rotate-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  pointer-events: none;
  transition: transform 0.5s ease;
}

.rotate-container.rotate {
  transform: rotate(-180deg);
}

.matrixTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.matrixTable td:hover {
  background-color: #ddd;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.buttonRotate {
  background-color: #27ae60;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonRotate:hover {
  background-color: #219150;
}

.buttonReset {
  background-color: #f39c12;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonReset:hover {
  background-color: #e67e22;
}

label.orange {
  color: #e67e22;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin-top: 10rem;
  text-align: center;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f0f0f0;
}

.not-found-title {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ff6b6b;
}

.message {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #333;
}

.homeLink {
  font-size: 1.2rem;
  color: #0070f3;
  text-decoration: none;
  border: 2px solid #0070f3;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.homeLink:hover {
  background-color: #0070f3;
  color: white;
}
