@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
 }
 
 .controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
 }
 
 .tableContainer {
  margin-top: 20px;
 }
 
 .matrixTable {
  border-collapse: collapse;
 }
 
 .matrixTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  width: 40px;
  height: 40px;
 }
 
 .matrixTable tr:nth-child(even) {
  background-color: #f2f2f2;
 }
 
 .matrixTable tr:hover {
  background-color: #ddd;
 }


.buttonsContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttonRotate {
  background-color: #27ae60; /* Verde */
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonRotate:hover {
  background-color: #219150; /* Verde más oscuro */
}

.buttonReset {
  background-color: #f39c12; /* Naranja */
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonReset:hover {
  background-color: #e67e22; /* Naranja más oscuro */
}